html{
  font-size: 10px;
}
.App {
  text-align: center;
}
body {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Source Code Pro', monospace;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dot{
  max-width: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-content {
  opacity: 1; /* Aplicația începe direct vizibilă */
  transition: opacity 1s ease-in-out; /* Tranziția pentru fade-in */
}


.fade-in {
  opacity: 1; /* Devine complet vizibil */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.terms-list li {
  margin-bottom: 1rem; /* Adds spacing between list items */
}
.terms-text p{
  margin-bottom: 2rem;
}
::placeholder {
  font-family: 'Source Code Pro', monospace; /* Use the desired font family */
  font-size: 2rem; /* Adjust the font size to match the input text size */
  opacity: 1; /* Make sure the opacity is set to 1 for full visibility */
}

input,
textarea {
  font-family: 'Source Code Pro', monospace; /* Apply same font to input and textarea */
}
*{
  max-width: 100%;
  box-sizing: border-box;
}
.hero-div{
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}
.ourServicesHP-section{
  overflow-x: hidden;
}
.home-page-container{
  overflow-x: hidden;
}
.owtsSection-cards-container{
  overflow-x: hidden;
}




